# This line let git auto-detect if a file is text. If matching, it enforces LF line endings
# regardless of OS or git configurations.
* text=auto eol=lf

# Here is an example of how to isolate binary files in case the auto-detection algorithm
# fails and marks them as text files (which could brick them).
*.{png,jpg,jpeg,gif,webp,woff,woff2} binary
